  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.2.1
    </div>
    <strong>Copyright &copy; Phantom Asset Management 2018
  </footer>

   
  
  
  <div class="control-sidebar-bg"></div>
</div>



<footer>
  <!-- DataTables -->
<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<!-- page script -->
<link rel="stylesheet" href="/bower_components/morris.js/morris.css">
<!-- morris.js charts -->
<script src="/scripts/JsBarcode.all.min.js"></script>
<script src="/scripts/bootstrap-tour.min.js"></script>
{% if req.user.profile.is_done_tour == 'false' %}
<script src="/scripts/tour.js"></script>
{% endif %}
  <!--<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>-->
 
  <script src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
 
  <script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
  
  <script src="/bower_components/raphael/raphael.min.js"></script>
  <script src="/bower_components/morris.js/morris.min.js"></script>

  <script src="/plugins/fastclick/fastclick.js"></script>
 
  <script src="/dist/js/app.min.js"></script>
 
  <script src="/dist/js/demo.js"></script>
  
  <script src="/main.js"></script>
</footer>
{% if plans[user.stripe.plan].name|lower === 'platinum' %}
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/59e8f72cc28eca75e462706a/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
{% endif %}


</body>
</html>
