{% extends '../layouts/frontsub.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

        <!-- ========== PAGE TITLE ========== -->
        <header class="header page-title" >
            <div class="container">
                <!-- For centering the content vertically -->
                <div class="outer">
                    <div class="inner text-center">
                        <h1 class="">Who We Are?</h1>
                        <h5 class="">We are small team of dedicated professionals.</h5>
                        <a href="/signup" class="btn se-btn-black btn-rounded mt20">Create Account</a>

                    </div> <!-- end inner -->
                </div> <!-- end outer -->
            </div> <!-- end container -->
        </header>

        <!-- ========== FEATURE INTRO ========== -->
        <section class="se-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-7">
                        <h2 class="underline mtn">Evolving Professionals</h2>
                        <p>
                            We are a team of dedicated professionals who strive to create the best product and customer experience we can. Making sure our users are happy and coming back 
                            to let us help them with their businesses is important to us. Josh (our founder) loves making sure each and every customer question is answered and resolved quickly.
                        </p>
                        <p>
                            Our product is always evolving as we move forward with development adding in features we know our users will love and use every day. We take feedback very seriously
                            and implement as many of the suggestions as we can. When we get a feature request from many users we work to get that out as fast as possible while creating a polished product that our whole community can benefit from.
                        <p>
                        <a href="/signup" class="btn se-btn-black btn-rounded">Sign Up</a>
                    </div> <!-- end col-md-8 -->

                    <!--<div class="col-md-5">-->
                        <!--<div class="owl-carousel owl-carousel-single mt10">-->
                            <!--<div class="text-center">-->
                                <!--<img src="images/award-img-1.jpg" alt="Sample Image" />-->
                            <!--</div>-->
                            <!--<div class="text-center">-->
                                <!--<img src="images/award-img-2.jpg" alt="Sample Image" />-->
                            <!--</div>-->
                            <!--<div class="text-center">-->
                                <!--<img src="images/award-img-3.jpg" alt="Sample Image" />-->
                            <!--</div>-->
                        <!--</div><!-- end owl-carousel -->
                    <!--</div> <!-- end col-md-4 -->

                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== FEATURE DETAILS ========== -->
        <!--<section class="se-section">-->
        <!--    <div class="container">-->
        <!--        <div class="row">-->
        <!--            <div class="col-md-8">-->
        <!--                <h4 class="underline">Passion About Work</h4>-->
        <!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
        <!--                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
        <!--            </div> <!-- end col-md-6 -->

        <!--            <div class="col-md-4">-->
        <!--                <h4 class="underline">Some Highlights</h4>-->
        <!--                <ul class="highlights">-->
        <!--                    <li><i class="icon ion-checkmark"></i>Looks awesome on any device</li>-->
        <!--                    <li><i class="icon ion-checkmark"></i>Trusted by 2000+ users</li>-->
        <!--                    <li><i class="icon ion-checkmark"></i>24*7 dedicated support</li>-->
        <!--                    <li><i class="icon ion-checkmark"></i>Tested on 117+ devices & browsers</li>-->
        <!--                </ul>-->
        <!--            </div> <!-- end col-md-6 -->
        <!--        </div> <!-- end row -->
        <!--    </div> <!-- end container -->
        <!--</section>-->
        
        <!-- ========== FAQ SECTION ========== -->
        <section class="se-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">How many people are there in team?</h6>
                        <p>There are 3 of us currently but we are always looking to expand our team as we grow. Having a larger team means that we can add more features and grow our user base to get more feedback on how to improve.</p>
                    </div> <!-- end se-faq -->

                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">What is our history?</h6>
                        <p>Our founder Josh searched for a cloud based asset management software that was affordable and simple to use. Learning new software takes a long time and he didn't want to commit to learning a large site that was overpriced.</p>
                    </div> <!-- end se-faq -->

                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">How did it start?</h6>
                        <p>This was a personal project that when shown to friends and co-workers, Josh got good feedback and praise. Upon this he decided that he needed to offer his creation to others and help small businesses know more about their business and it's assets.</p>
                    </div> <!-- end se-faq -->

                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">What are our achievements?</h6>
                        <p>We have excellent customer service and focus to make the customer experience something that they won't soon forget. We take every bit of feedback and look at how we can use it to improve upon what we have.</p>
                    </div> <!-- end se-faq -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== CTA SECTION ========== -->
        <section class="se-section primary-bg">
            <div class="container">
                <div class="row text-center">
                    <h3>Start Tracking Your Assets Now!</h3>
                    <p>Join today, no credit card required.</p>
                    <a href="/signup" class="btn se-btn-black btn-rounded">SIGN UP</a>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
{% endblock %}