{% extends '../layouts/front.html' %}{% block title %}{{title}}{% endblock %}{% block content %}
<header class="header main-header parallax-bg" data-parallax="scroll" data-image-src="/images/front/header-min.jpg" data-speed="0.4">
	<div class="primary-trans-bg">
		<div class="container">
			<div class="outer">
				<div class="inner text-center">
					<h1 class="white-color">Track your IT assets without hassle. So you can focus on your business.</h1>
					<h5>Most user friendly and affordable asset tracking software on the market, save time and money by knowing everything about your assets.</h5>  <a href="#features" class="btn se-btn-white btn-rounded">Learn more</a>
				</div>
			</div>
		</div>
	</div>
</header>
<A NAME="features">
	<section class="se-section features-section" id="features-section">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 se-feature"> <i class="icon ion-iphone"></i>
					<h5>Fully Responsive</h5>
					<p>Use on any device at any time. No need for separate apps to handle mobile and desktop.</p>
				</div>
				<div class="col-md-3 col-sm-6 se-feature"> <i class="icon ion-android-checkmark-circle"></i>
					<h5>Assign Assets</h5>
					<p>Easily assign assets to custom users with checkout dates. Know where everything is all the time.</p>
				</div>
				<div class="col-md-3 col-sm-6 se-feature"> <i class="icon ion-ios-bolt"></i>
					<h5>Asset Models</h5>
					<p>Create custom asset models for each type of asset. When creating an asset select a model for quick creation.</p>
				</div>
				<div class="col-md-3 col-sm-6 se-feature"> <i class="icon ion-ios-infinite"></i>
					<h5>Custom Fields</h5>
					<p>Select custom asset type and enter unlimited custom fields. We optimize for customization.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="se-section single-feature">
		<div class="col-md-6 zero-padding col-md-push-6 side-img">
			<img src="/images/front/addasset.PNG" alt="" class="img-responsive">
		</div>
		<div class="container feature-desc">
			<div class="row">
				<div class="col-md-5 feature-info">
					<h2>Add Assets</h2>
					<p>Add assets using models and users quickly without wasting time re-entering information.</p>
					<p>Adding assets using PhantomAM's modeling system takes the effort and time commitment out of that initial set up process, many customers manage to set up their accounts with all their assets in less than 2 hours.</p> <a href="/features" class="btn se-btn btn-rounded">Learn More</a>
				</div>
			</div>
		</div>
	</section>
	<section class="se-section single-feature">
		<div class="col-md-6 zero-padding side-img">
			<img src="/images/front/assign-asset.PNG" alt="" class="img-responsive">
		</div>
		<div class="container feature-desc">
			<div class="row">
				<div class="col-md-5 col-md-push-7 feature-info">
					<h2>Assign assets</h2>
					<p>Assign assets to users when needed or upon asset creation. Assigning an asset upon creation cuts out work later on when you already know who it is going to.</p>
					<p>Import models, and users so you don't have to create them per use. We include a handy search function to save you time. Time is the one thing we can never get more of, so why waste it on needless processing.</p> <a href="/features" class="btn se-btn btn-rounded">Learn More</a>
				</div>
			</div>
		</div>
	</section>
	<section class="se-section single-feature">
		<div class="col-md-6 zero-padding col-md-push-6 side-img">
			<img src="/images/front/dashboard.PNG" alt="" class="img-responsive">
		</div>
		<div class="container feature-desc">
			<div class="row">
				<div class="col-md-5 feature-info">
					<h2>Clean, Modern and, Simplistic Dashboard</h2>
					<p>An easy and intuitive dashboard is important if you want to get work done quickly and efficiently. We have created one that flows and is intuitive to use. Our goal is to ensure that all your asset tracking is done without the need for a steep learn curve. Why have a lengthy and boring experience when simple is the way to go.</p> <a href="/features" class="btn se-btn btn-rounded">Learn More</a>
				</div>
			</div>
		</div>
	</section>
	<section class="se-section se-steps">
		<div class="container">
			<div class="row text-center">
				<h3 class="underline mtn">It's as easy as 1 - 2 - 3!</h3>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 one-step">
					<h4>Sign Up</h4>
					<p>Signing up takes seconds and only requires your email and a password! Signing up couldn't be easier!</p>
				</div>
				<div class="col-md-4 col-sm-4 one-step">
					<h4>Add Models</h4>
					<p>Models make creating multiple assets simple and quick. Create a model in seconds and then an asset even faster!</p>
				</div>
				<div class="col-md-4 col-sm-4 one-step">
					<h4>Assign Assets</h4>
					<p>Got everything ready to go? Not much is there.. Well in just a few clicks you can have your first asset added and tracked.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="primary-bg">
		<div class="container">
		    <div class="row text-center">
			    <h3>Start Tracking Your Assets Now!</h3>
			    <p>Join today, no credit card required.</p> <a href="/signup" class="btn se-btn-black btn-rounded">SIGN UP</a>
			    <br><br>
		    </div>
		</div>
	</section>
	<!--<section class="se-section counters-section gray-section">-->
 <!--       <div class="container">-->
 <!--   	    <div class="row">-->
 <!--               <div class="col-md-4 col-sm-6 col-xs-6 counter-box">-->
 <!--   				<span class="count-icon ion-person"></span>-->
 <!--   				<div class="count-info">-->
 <!--   						<h4><span class="counter">100</span>+</h4>-->
 <!--   						<p>Active Users</p>-->
 <!--   					</div>-->
 <!--   				</div>-->

 <!--   				<div class="col-md-4 col-sm-6 col-xs-6 counter-box">-->
 <!--   					<span class="count-icon ion-help"></span>-->
 <!--   					<div class="count-info">-->
 <!--   						<h4><span class="counter">80</span>+</h4>-->
 <!--   						<p>Customer Questions Answered</p>-->
 <!--   					</div>-->
 <!--   				</div>-->

 <!--   				<div class="col-md-4 col-sm-6 col-xs-6 counter-box">-->
 <!--   					<span class="count-icon ion-ios-analytics"></span>-->
 <!--   					<div class="count-info">-->
 <!--   						<h4><span class="counter">1370</span>+</h4>-->
 <!--   						<p>Assets Tracked</p>-->
 <!--   					</div>-->
 <!--   				</div>-->


 <!--   			</div>-->
 <!--   		</div>-->
 <!--   	</section>-->
	{% endblock %}